/*
Copyright: Nereus Diving 2020
Martin Straußberger
*/
@import url('https://fonts.googleapis.com/css?family=Lato|Sedgwick+Ave+Display');

:root {
    font-family: laca;
    --nereusblue: #172C46;
    --nereuswhite: #fff;
    --nereusorange: #FF6633;
    --nereusorange2: #fc9978;
    --nereusgreen: #2d686a;
    --nereusorca: #9dbedf;
    --nereusorcalite: #e7f5fe;
    --nereusorcalite: #F1F5F8;
    --nereusorcawhite: #e7f1fd;
    --nereusdeepblue: #003333;
    --linkblue: #005AC0;
    --nereuspannacotta: rgb(249, 249, 249);
}

/* Nav Button */
.nav-btn {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--nereusorange);
    color: var(--nereuswhite);
    font-family: laca;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.bottom-nav-btn {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--nereusorange);
    color: var(--nereuswhite);
    font-family: laca;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.nav-btn:hover {
    transition: .3s;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24), 0 9px 25px 0 rgba(0, 0, 0, 0.19);
}

.book-btn {
    padding-right: 1rem;
}

/* Browse Button */
.browse-btn {
    width: 150px;
    height: 45px;
    /* margin-left: 30px; */
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--nereusblue);
    color: var(--nereuswhite);
    font-family: laca;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.browse-btn:hover {
    transition: .3s;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24), 0 9px 25px 0 rgba(0, 0, 0, 0.19);
}

/* Browse Button Desktop*/
@media (min-width: 481px) {
    .browse-btn {
        width: 170px;
        height: 65px;
        border-radius: 10px;
        border: none;
        outline: none;
        background-color: var(--nereusblue);
        color: var(--nereuswhite);
        font-family: laca;
        font-size: 25px;
        font-weight: 600;
        cursor: pointer;
    }
}

.browse-btn:hover {
    transition: .3s;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.24), 0 9px 25px 0 rgba(0, 0, 0, 0.19);
}

.submit-btn {
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 80px;
    height: 36px;
    background-color: var(--nereusorange);
    font-size: 16px;
    font-family: laca;
    color: var(--nereuswhite);
}

.submit-btn:hover {
    transform: scale(1.1);
    transition: .5;
}

/* Why to book with us Button */
.why-btn {
    width: 150px;
    height: 2.5em;
    margin-top: 3vh;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--nereusorange);
    color: var(--nereuswhite);
    font-family: laca;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.why-btn:hover {
    transition: .3s;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.24), 0 9px 25px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 481px) {
    .why-btn {
        width: 150px;
        height: 2.5em;
        margin-top: 3vh;
        border-radius: 10px;
        border: none;
        outline: none;
        background-color: var(--nereusorange);
        color: var(--nereuswhite);
        font-family: laca;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
    }
}

/* ---------- Dive with us btn */
._dive-with-us-btn {
    text-align: center;
}

.dive-btn {
    width: 150px;
    height: 2.5em;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--nereusorange);
    color: var(--nereuswhite);
    font-family: laca;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.dive-btn:hover {
    transition: .3s;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.24), 0 9px 25px 0 rgba(0, 0, 0, 0.19);
}

/* -------- partner ----------- */
@media (min-width: 769px) and (max-width: 1024px) {
    .partner {
        height: 8 0vh;
    }
}

@media (max-width: 768px) {
    .partner {
        height: auto;
    }
}

@media (min-width: 1025px) {
    .partner {
        height: auto;
    }
}

.partner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
    overflow: hidden;
    grid-gap: 1rem;
    background-image: url('../images/bg_half.svg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    /* background: linear-gradient(60deg, #accbee 0%, rgba(0, 172, 193, 1)); */
}

@media (max-width: 767px) {
    .partner h1 {
        font-size: 60px;
    }
}

@media (min-width: 768px) {
    .partner h1 {
        margin-top: 8vh;
        font-size: 90px;
    }
}

@media (min-width: 300px) and (max-width: 1023px) {
    .content-partner {
        font-size: 36px;
    }
}

@media (min-width: 1024px) {
    .content-partner {
        font-size: 52px;
        text-align: left;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (min-width: 300px) and (max-width: 320px) {
    .controls {
        position: relative;
        top: 150px;
        z-index: 2;
    }
}

@media (min-width: 330px) and (max-width: 768px) {
    .controls {
        position: relative;
        top: 140px;
        z-index: 2;
    }
}

@media (max-width: 768px) {
    .content-width {
        width: 100%;
        height: 100vh;
    }

    .slideshow {
        width: 100%;
        height: 100vh;
    }

    .slideshow-items {
        letter-spacing: 1.5px;
        width: 100%;
        height: 300px;
    }

    .item {
        position: absolute;
        width: 100%;
        height: auto;
    }

    .item-image-container {
        position: relative;
        /* width: 42%; */
    }

    .item-image {
        width: 300px;
        height: 220px;
        border-radius: 20px;
        opacity: 0;
        transition: opacity .3s ease-out .45s;
    }

    .item-description {
        line-height: 1.2;
        margin-top: 3vh;
    }

    /* Staggered Vertical Items ------------------------------------------------------*/
    .item-header {
        position: absolute;
        top: 80px;
        left: 9.8%;
        z-index: 3;
    }

    .item-header .vertical-part {
        margin: 0 -4px;
        -webkit-font-smoothing: auto;
        font-size: 14vw;
        color: var(--nereusorange);
    }

    .vertical-part {
        overflow: hidden;
        display: inline-block;
    }

    /* Controls ----------------------------------------------------------------------*/
    .controls ul {
        list-style: none;
    }

    .controls ul li {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 3px;
        background: var(--nereusblue);
        ;
        cursor: pointer;
    }

    .controls ul li.active {
        background: var(--nereusorange);
        ;
    }
}

@media (width: 768px) {
    .content-width {
        width: 100%;
        height: 100vh;
    }

    .slideshow {
        /* position: relative; */
        width: 100%;
        height: 100vh;
    }

    .slideshow-items {
        letter-spacing: 1.5px;
        /* position: relative; */
        width: 100%;
        height: 300px;
    }

    .item {
        position: absolute;
        width: 100%;
        height: auto;
    }

    .item-image-container {
        position: relative;
        /* width: 42%; */
    }

    .item-image {
        width: 400px;
        height: 320px;
        border-radius: 20px;
        opacity: 0;
        transition: opacity .3s ease-out .45s;
    }

    .item-description {
        line-height: 1.2;
        margin-top: 3vh;
    }

    /* Staggered Vertical Items ------------------------------------------------------*/
    .item-header {
        position: absolute;
        top: 100px;
        left: 20.8%;
        z-index: 3;
    }

    .item-header .vertical-part {
        margin: 0 -4px;
        -webkit-font-smoothing: auto;
        font-size: 10vw;
        color: var(--nereusorange);
    }

    .vertical-part {
        overflow: hidden;
        display: inline-block;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .content-width {
        width: 100%;
        height: 100vh;
    }

    .slideshow {
        /* position: relative; */
        width: 100%;
        height: 100vh;
    }

    .slideshow-items {
        letter-spacing: 1.5px;
        /* position: relative; */
        width: 100%;
        height: 300px;
    }

    .item {
        position: absolute;
        width: 100%;
        height: auto;
    }

    .item-image-container {
        position: relative;
        /* width: 42%; */
    }

    .item-image {
        width: 600px;
        height: 420px;
        border-radius: 20px;
        opacity: 0;
        transition: opacity .3s ease-out .45s;
    }

    .item-description {
        line-height: 1.2;
        margin-top: 3vh;
    }

    /* Staggered Vertical Items ------------------------------------------------------*/
    .item-header {
        position: absolute;
        top: 110px;
        left: 17.8%;
        z-index: 3;
    }

    .item-header .vertical-part {
        margin: 0 -4px;
        -webkit-font-smoothing: auto;
        font-size: 10vw;
        color: var(--nereusorange);
    }

    .vertical-part {
        overflow: hidden;
        display: inline-block;
    }
}

@media (min-width: 1025px) {
    .content-width {
        width: 86%;
        height: 100vh;
        margin: 5vh 0vh 3vh 15vh;
    }

    .slideshow {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .slideshow-items {
        letter-spacing: 1.5px;
        position: relative;
        width: 100%;
        height: 300px;
    }

    .item {
        position: absolute;
        width: 100%;
        height: auto;
    }

    .item-image-container {
        position: relative;
        width: 42%;
    }

    .item-image {
        position: relative;
        width: 500px;
        height: 400px;
        opacity: 0;
        border-radius: 20px;
        transition: opacity .3s ease-out .45s;
    }

    .item-description {
        position: absolute;
        top: 182px;
        right: 0;
        width: 50%;
        padding-right: 4%;
        line-height: 1.5;
    }

    /* Staggered Vertical Items ------------------------------------------------------*/
    .item-header {
        position: absolute;
        top: 150px;
        left: -1.8%;
        z-index: 3;
    }

    .item-header .vertical-part {
        margin: 0 -4px;
        -webkit-font-smoothing: auto;
        font-size: 6vw;
        color: var(--nereusorange);
    }

    .vertical-part {
        overflow: hidden;
        display: inline-block;
    }

    /* Controls ----------------------------------------------------------------------*/
    .controls {
        margin-left: 12.5vw;
        margin-top: 15vh;
        position: relative;
        text-align: left;
        z-index: 3;
    }

    .controls ul {
        list-style: none;
    }

    .controls ul li {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 3px;
        background: var(--nereusblue);
        ;
        cursor: pointer;
    }

    .controls ul li.active {
        background: var(--nereusorange);
        ;
    }
}

.item.active .item-image {
    opacity: 1;
}

.item.active .item-image-container::before {
    opacity: .8;
}

.vertical-part b {
    display: inline-block;
    transform: translateY(100%);
}

.item-header .vertical-part b {
    transition: .5s;
}

.item-description .vertical-part b {
    transition: .21s;
}

.item.active .item-header .vertical-part b {
    transform: translateY(0);
}

.item.active .item-description .vertical-part b {
    transform: translateY(0);
}

/* Turtle Logo Footer */
@media (min-width: 769px) {
    #_turtle-footer {
        width: 428px;
    }
}

/* --------- Footer ---------- */
.foo-container {
    display: grid;
    width: 100%;
    /* height: 50vh; */
    margin: 18vh 0 5vh 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .foo-container {
        line-height: 1.5;
        display: block;
    }
}

.ul-footer a,
li,
ul {
    color: #D0D0D0;
    /* width: 60%; */
    letter-spacing: 1.5px;
    line-height: 1.5rem;
    list-style: none;
    text-decoration: none;
}

.foo-container p {
    color: #D0D0D0 !important;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1.2px;
}

.foo-item-1 {
    display: grid;
    justify-content: center;
}

.foo-item-2 {
    display: grid;
    justify-content: center;
}

.foo-item-3 p {
    padding: 1px;
}

.foo-item-4 {
    display: grid;
    margin-top: 5vh;
    grid-column: 2/3;
}

.foo-item-4 p {
    font-size: 15px;
}

/* Typing Animation */
@media (min-width: 1024px) {
    .typing-letter {
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        text-align: center;
        margin: 0;
        /* height: 30vh; */
        font-weight: 600;
    }

    .typing-letter h1 {
        font-size: 50px;
    }
}